@model RemindersRegistrationViewModel
@{
    ViewData["Title"] = "Register for an MOT Reminder";
}
<h1>@ViewData["Title"]</h1>

<div class="registration-form" data-registration="@Model.Registration" data-mot-expiry-date="@Model.MotExpiryDate.ToString("s")" data-manufacturer="@Model.Manufacturer" data-model="@Model.Model">

</div>